.navbar-container {
  display: flex;
  justify-content: center;
}
.navbar-outer {
  display: flex;
  font-size: 30px;
  border: 1px solid;
  border-radius: 10px;
  justify-content: center;
  gap: 6%;
  background: transparent;
  min-width: 35%;
  flex-wrap: wrap;
  width: fit-content;
  width: fit-content;
  padding: 13px 0px;
  position: fixed;
  background-color: rgb(0 0 0 / 26%);
  backdrop-filter: saturate(180%) blur(10px);
}
.navbar-item {
  width: fit-content;
}
.navbar-hover:hover {
  background-color: #0000007d;
}
