.css-1howxi1-MuiTableCell-root,.css-6qfsqn-MuiTableCell-root{
    font-size: 16px !important;
    font-weight: bold !important;
    color: #00000099 !important;
    padding: 24px 16px !important;
}
.css-dsuxgy-MuiTableCell-root{
    padding: 24px 16px !important;
    color: #1399fc !important;
    font-weight: bold !important;
}
.css-dv0mq-MuiTableCell-root{
    color: #00000087 !important;
    
}
